.box {
  /* border: var(--bor) dotted 2pt; */
  height: 50%;
  width: 50%;
  margin-top: 100px;
  display: inline-block;
  text-align: center;
  max-width: 950px;
  font-size: 16pt;
  border: var(--bor) solid 0.5pt;
  box-shadow: 0px 0px 5px var(--bor);
}

.innerbox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
}

.rightbox {
  grid-column: 2;
  grid-row: 2;
  /* border: goldenrod solid 2pt; */
  text-align: left;
  display: flex;
  justify-content: center;
  background-color: var(--yin);
}

.image {
  height: auto;
  width: 75%;
  min-width: 150px;
  align-self: center;
  margin-right: 5%;
  /* margin-left: 5%; */

  border: 1px dotted var(--bor);
  box-shadow: 0px 0px 2.5px var(--bor);
  border-radius: 4px;
  padding: 0px;
  /* width: 150px; */
}

.text {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 0;
  /* margin-left: 25%;
  margin-right: 15px; */
  /* border: crimson solid 2pt; */
  background-color: var(--yang);
  color: var(--monochrometext);
  border-bottom: var(--bor) solid 0.5pt;
}

.specs {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  /* border: lawngreen solid 2pt; */
  background-color: var(--yin);
  padding-bottom: 20px;
  color: var(--monochrometext);
}

.header {
  margin-bottom: 0;
}

@media (max-width: 912.5px) {
  .specs {
    /* background-color: firebrick; */
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .rightbox {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .image {
    height: auto;
    width: 50px;
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 1348px) {
  .box {
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .box {
    width: 75%;
  }
  .text {
    font-size: 10pt;
  }
  .specs {
    font-size: 10pt;
  }
}
