:root {
  --yin: skyblue; /*Darker main color*/
  --yang: aqua; /*Lighter main color*/
  --bor: blue; /*Darkest, borders and text*/
  --text: #0000e6; /*Darker than bor*/
  --bg: lightcyan; /*Background neutral*/
  --monochrometext: black;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  background-color: var(--bg);
  margin: auto;
  width: auto;
  height: auto;
  min-height: 87vh;
  /* padding-top: 90px; */
  padding-bottom: 1px;
}

.topAnchor {
  margin: 0;
  height: 1px;
  /* background-color: red; */
}

.topPadding {
  height: 89px;
  margin: 0;
  /* background-color: khaki; */
}
