:root {
  --yin: skyblue; /*Darker main color*/
  --yang: aqua; /*Lighter main color*/
  --bor: blue; /*Darkest, borders and text*/
  --bg: lightcyan; /*Background neutral*/
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  background-color: var(--bg);
  margin: auto;
  width: auto;
  height: auto;
  min-height: 87vh;
  padding-top: 90px;
  padding-bottom: 1px;
}

.blurb {
  color: var(--bor);
  /* font-weight: bold; */
  font-style: italic;
  margin-bottom: 100px;
  margin-top: 60px;
  font-size: 48px;
  border: violet solid 2pt;
  overflow: hidden;
  width: 60%;
  display: inline-block;
}

.blurbContainer {
  width: auto;
  display: inline-block;
}

/* .App_header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.holderA {
  margin-top: 10px;
}

.ptitle {
}

.separator {
  height: 50px;
}

@media (max-width: 900px) {
  .blurb {
    font-size: 32px;
  }
}
