.blurb {
  color: var(--text);
  /* font-weight: bold; */
  font-style: italic;
  margin-bottom: 100px;
  margin-top: 60px;
  font-size: 48px;
  /* border: violet solid 2pt; */
  overflow: hidden;
  width: 60%;
  display: inline-block;
}

.blurbContainer {
  width: auto;
  display: inline-block;
}

/* .App_header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

.App-link {
  color: #61dafb;
}

.holderA {
  margin-top: 10px;
}

.ptitle {
  color: var(--text);
  margin-top: 5px;
}

.separator {
  height: 50px;
}

@media (max-width: 900px) {
  .blurb {
    font-size: 32px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .blurb {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 60px;
  }
}
