.navGrid {
  position: fixed;
  width: 100%;
  background-color: var(--yin);
  z-index: 2;
  top: -2px;
  height: 55px;
  box-shadow: 0px 0px 2.5px var(--bor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: black dotted 2pt; */
}

.left {
  display: flex;
  justify-content: space-between;
  top: 4px;
  position: relative;
  width: 600px;
  /* background-color: thistle; */
}

.right {
  display: flex;
  justify-content: center;
  top: 4px;
  position: relative;
  /* width: 600px; */
  /* background-color: yellow; */
  margin-right: 5px;
  margin-left: 5px;
  min-width: 90px;
}

.icon {
  height: 30px;
  /* width: 30px; */
  position: relative;
  top: 10px;
}

.iconText {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  top: 0px;
}

.nameText {
  font-size: 32px;
  margin: 0px;
  margin-top: 10px;
}

.block {
  /* border: yellow solid 2pt; */
  height: 100%;
  /* min-width: 120px; */
}

.trigger {
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 53.5px;
  left: 0;
  cursor: pointer;
  width: 100%;
  animation-duration: 0.5s;
  animation-name: slidein;
}

/* .buttonAtlantic {
  background-color: ;
}

.buttonElectric {
  background-color: ;
}

.buttonPhotosynthetic {
  background-color: ;
}

.buttonHellenic {
  background-color: ;
} */

@keyframes slidein {
  from {
    margin-left: 100%;
    /* width: 300%; */
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* .buttonA {
  background-color: skyblue;
}

.buttonE {
  background-color: yellow;
} */

.dropButtons {
  border: none;
  box-shadow: 2.5px 2.5px 5px black;
  border-top: none;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-left: 0px;
  cursor: pointer;
  /* background-color: greenyellow; */
}

.Wordschangetheme {
  display: inline-block;
}

.Wordstheme {
  display: none;
}

@media (max-width: 775px) {
  .Wordschangetheme {
    display: none;
  }
  .Wordstheme {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .left {
    /* background-color: tomato; */
    width: 400px;
    top: 0px;
  }
  .right {
    min-width: 0px;
    top: 0px;
  }

  .icon {
    /* height: 25px; */
    align-self: center;
    top: 5px;
  }

  .iconText {
    font-size: 10pt;
    margin: 0 0 0 0;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .left {
    /* background-color: tomato; */
    width: 85%;
    justify-content: space-around;
  }
  .Wordschangetheme {
    display: none;
  }

  .Wordstheme {
    display: inline-block;
  }
  .left {
    margin-left: 4px;
  }
  .right {
    margin-right: 8px;
  }
  .iconText {
    font-size: 9pt;
  }
}
