.card {
  text-align: center;
  height: 100%;
  line-height: 300px;
  height: 300px;
  min-width: 274px;
}

.blankCard {
}

.logo {
  max-height: 200px;
  max-width: 400px;
  margin: 0;
  position: relative;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
  top: -7.5px;
}

.logoCoda {
  opacity: 0.05;
  height: inherit;
  /* width: 100%; */
  /* max-height: 200px;
  max-width: 400px; */
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
}

.descripContainer {
  position: relative;
  top: -75px;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: yellow solid 2pt; */
  /* display: none; */
}

.descripSubcontainer {
  position: relative;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* border: blue dotted 4pt; */
  width: 100%;
  display: none;
}

.description {
  font-size: 20px;
  line-height: 32px;
  margin: 0px;
  /* margin-left: 15%;
  margin-right: 15%; */
  display: block;
  position: absolute;
  bottom: 0;
  top: 10;
  text-align: center;
  color: var(--text);
}

.card:hover .logo {
  transform: scale(0.75);
}

.card:hover .descripSubcontainer {
  display: inherit;
  top: 100px;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
  100% {
    top: 0;
  }
}

@keyframes slide {
  100% {
    top: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .card {
    width: auto;
  }

  .logo {
    max-height: 150px;
    max-width: 300px;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
  }
}
