.all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
}

.leftie {
  display: flex;
  flex-direction: column;
  /* border: red solid 2pt; */
  justify-content: space-between;
}

.rightie {
  display: flex;
  flex-direction: column;
  /* border: yellow solid 2pt; */
  justify-content: space-evenly;
}

.phHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  /* border: black solid 2pt; */
}

.box {
  height: auto;
  width: 100%;
  /* margin-top: 100px; */
  display: inline-block;
  text-align: center;
  max-width: 450px;
  font-size: 12pt;
  border: var(--bor) solid 0.5pt;
  box-shadow: 0px 0px 5px var(--bor);
}

.pc {
  width: auto;
  height: 500px;
}

.ph {
  width: auto;
  height: 400px;
}

.innerbox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  /* border: yellow solid 2pt; */
}

.text {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 0;
  /* margin-left: 25%;
      margin-right: 15px; */
  /* border: crimson solid 2pt; */
  background-color: var(--yang);
  border-bottom: var(--bor) solid 0.5pt;
  color: var(--monochrometext);
}

.specs {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
  /* border: lawngreen solid 2pt; */
  background-color: var(--yin);
  padding-bottom: 20px;
  color: var(--monochrometext);
}

.header {
  margin-bottom: 0;
  margin-top: 16px;
}

.title {
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}

.linkBox {
  width: 100%;
  /* border: chartreuse solid 5pt; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 10px;
}

.linkIcon {
  height: 50px;
  width: auto;
}

.linkHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkSubheading {
  font-size: 12px;
  margin: 0;
}

.linkHolder .tooltiptext {
  visibility: hidden;
  font-weight: bold;
  width: auto;
  height: 20px;
  font-size: 14px;
  background-color: var(--text);
  color: white;
  text-align: center;
  padding: 2.5px 7.5px 2.5px 7.5px;
  border-radius: 6px;
  margin-top: 52.5px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.linkHolder:hover .tooltiptext {
  visibility: visible;
}

.linkHolder:hover .linkSubheading {
  visibility: hidden;
}

@media (max-width: 1348px) {
  .box {
    font-size: 16px;
  }
}

@media (max-width: 1114px) {
  .all {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .box {
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .pc {
    width: 500px;
    height: auto;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .pc {
    width: 325px;
    height: auto;
  }

  .ph {
    width: 150px;
    height: auto;
  }

  .phHolder {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .box {
    width: 300px;
  }

  .text {
    font-size: 10pt;
  }
  .specs {
    font-size: 10pt;
  }
  .title {
    font-size: 24px;
  }
}
